body {
    background: #FFECB3;
}

p, ul, ol {
    font-family: "Segoe UI", Segoe, serif;
    font-size: 0.95em;
}

p.normal {
    font-style: normal;
}

p.italic {
    font-style: italic;
}

p.oblique {
    font-style: oblique;
}